.appWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.appContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
}
