.searchWrapper {
    width: 100%;
    position: sticky;
    height: 50px;
    background: white;
    display: flex;
    flex: 1 0 auto;
}

.searchContent {
    position: relative;
    display: flex;
    flex: 1 0 auto;
}

.searchForm {
    display: flex;
    flex: 1 0 auto;
}

.searchInput {
    width: 100%;
    font-size: 20px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #0000001f;
}

.searchButton {
    background: white;
    border: none;
    position: absolute;
    line-height: 0;
    right: 2px;
    top: 3px;
    margin: 0;
    padding: 10px;
}