.searchBoxWrapper {
    box-shadow: 1px 1px 5px #cfcfcf;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.searchBoxItem {
    padding: 10px;
    cursor: pointer;
}

.searchBoxItem:hover {
    background: #8ddfff;
}